forged/
target/*
!target/release/forge-admin-cli
!target/aarch64-unknown-linux-gnu/release/forge-dpu-agent
!target/aarch64-unknown-linux-gnu/release/forge-dhcp-server
!target/aarch64-unknown-linux-gnu/release/carbide-fmds
.git/
pxe/mkiso/
**/.mkosi*
pxe/static/blobs/internal/*/.mkosi*
**/.mkosi*
