**/target
**/node_modules
bluefield/forge-dpu*.deb
bluefield/forge-dpu*/
bluefield/otel-dpu*/
public/
.vagrant
.DS_Store
.idea/*
**/.env
.devcontainer/
.vscode/
tmp/
dev/kube/overlays/local/forge/override_api_image.json
dev/kube/kind/ci/*
.local_envrc
.*.swp
**/*.tgz
**/**/.mkosi*
.skaffold/*/**
cscope.*
forged
.devspace

pxe/nvinit_setup/*
!pxe/nvinit_setup/.gitkeep

pxe/debs/*
!pxe/debs/.gitkeep
!pxe/debs/libnss-exec_0.2.0-1_arm64.deb
!pxe/debs/libnss-exec_0.2.0-1_amd64.deb

dev/shell/*
**/*.xz

pxe/mkosi.profiles/*/mkosi.extra/build-output
ssh-console/legacy/ssh-console

book/src/mdbook-plantuml-img/**
dev/mac-local-dev/carbide-api-config-*.toml

/helm/Chart.lock
